[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "moments"]
	path = hugo-theme-moments
	url = https://github.com/FarseaSH/hugo-theme-moments
